@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*
body {
    background-color: #F9FAFC;
}*/

#menu {
    /*animation: translate .4s ease-in-out;*/
}

@keyframes translate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes close {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}